#mainmenu .active {
    font-weight: bold;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



body{
    background-color: lightcoral;
}

#loading{
    width: 40%;
    margin: 0 auto;
    padding: 3em;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight:600;
}