{% extends 'MaciejStudyBundle:Default:Default.html.twig' %}



{% block title %}List{% endblock %}


{% block body %} 
    <table>

        {% for game in games %}
            <tr> 
                <td>
                    <a href="{{ path('gameimagelist', {'title' : game.title})}}">{{ game.title}}</a>  
                </td>
            </tr>
        {% endfor %}
    </table>
    <b> {{ game1.title }} Gallery </b></br>
        {{dump(games)}}
    

{% endblock %}  