{# empty Twig template #}
{% extends 'MaciejStudyBundle:Default:Default.html.twig' %}

{% block title %}Form{% endblock %}


{% block body %} 

    {{ form_start(form) }}
    {{ form_widget(form) }}

    {% if not company.clogo is empty%}
        <img src="{{asset(company.clogo)}}"> 
        <a href="{{ path('companydeleteimage', {'id' : company.id})}}">Delete Image </a>
    {%endif%}
    <input type="submit" value="Edit"
           class="btn btn-default pull-right"/>


{% endblock %}  